DJANGO_SECRET_KEY=secret
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost, 0.0.0.0, 127.0.0.1
DJANGO_SECRET_KEY=DJANGO_SECRET_KEY


POSTGRES_DB=demo_db
POSTGRES_PASSWORD=PASSWORD
POSTGRES_HOST=db
POSTGRES_USER=postgres


REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379
CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0

LOG_LEVEL=info
HTTP_PORT=:8000
HTTP_WORKERS=2

MEDIC_API_TOKEN=

MEDIC_API_URL=https://sandbox-healthservice.priaid.ch

SENDGRID_API_KEY=
FROM_EMAIL=
